.meno{
    height: 300px;
    width: 400px;
    background-image: url(na_ture.jpg);
    background-size: cover;
    position: relative;
    left: 300px;
    top: 250px;
    text-align: center;
    text-decoration: black;
}
 a{
     text-decoration: none;
     color:black;
     font-size: 20px;
     background-color: blue;
     mask-type: luminance;
     border:3px double white;
 } #input{
     font-size: 20px;
     border:2px double pink;
 } body{
     background-image: url("me_kup.jpg");
     background-size: cover;
 }
 